In [28]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rahul\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\rahul\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# series

In [29]:
import numpy as np
import pandas as pd

In [30]:
data=[12,21,2]

In [31]:
arr1=np.array(data)

In [32]:
labels=['x','y','z']

In [33]:
d={"a":12,"b":23,"c":24}

In [34]:
print(data)

[12, 21, 2]

In [35]:
print(labels)

['x', 'y', 'z']

In [36]:
print(d)

{'a': 12, 'b': 23, 'c': 24}

In [37]:
arr1

array([12, 21,  2])

In [38]:
pd.Series(arr1,labels)

x    12
y    21
z     2
dtype: int32

In [39]:
pd.Series(d)

a    12
b    23
c    24
dtype: int64

In [40]:
p=pd.Series(labels,arr1)

In [41]:
p

12    x
21    y
2     z
dtype: object

In [42]:
pd.Series(arr1)

0    12
1    21
2     2
dtype: int32

In [43]:
type(p)

pandas.core.series.Series

### ADDING AND MERGING TWO COMMON SERIES

In [44]:
ser1=pd.Series([12,2,3,5],['ar','pd','ra','sb'])

In [45]:
ser2=pd.Series([5,6,4,7],['ar','pd','ra','sb'])

In [46]:
print(ser1['ra'])

3

In [47]:
print(ser1['sb'])

5

In [48]:
print(ser1['ar'])

12

In [49]:
print(ser1['pd'])

2

In [50]:
print(ser1[0])

12

In [51]:
print(ser1[0:1])

ar    12
dtype: int64

In [52]:
print(ser1[:3])

ar    12
pd     2
ra     3
dtype: int64

In [53]:
print(ser2)

ar    5
pd    6
ra    4
sb    7
dtype: int64

In [54]:
print(ser2[1:])

pd    6
ra    4
sb    7
dtype: int64

In [55]:
print(ser2['sb'])

7

In [56]:
print(ser2['pd'])

6

In [57]:
print(ser2[2])

4

In [58]:
y=ser1+ser2

In [59]:
y

ar    17
pd     8
ra     7
sb    12
dtype: int64

In [60]:
y=pd.Series()

In [61]:
ser1*ser2

ar    60
pd    12
ra    12
sb    35
dtype: int64

In [62]:
print(np.exp(ser1+ser2))

ar    2.415495e+07
pd    2.980958e+03
ra    1.096633e+03
sb    1.627548e+05
dtype: float64

In [63]:
print(np.log10(ser1))

ar    1.079181
pd    0.301030
ra    0.477121
sb    0.698970
dtype: float64

In [64]:
print(np.log10(ser1+ser2))

ar    1.230449
pd    0.903090
ra    0.845098
sb    1.079181
dtype: float64

#### CREATING DATA FRAME

In [65]:
from numpy.random import randn

In [66]:
np.random.seed(101)

In [67]:
data=randn(5,5)

In [68]:
index=(['a','b','c','d','e'])

In [69]:
head=(['x','y','z','xy','ty'])

In [70]:
pf=pd.DataFrame(data,index,head)

In [71]:
pf

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [72]:
type(pf)

pandas.core.frame.DataFrame

In [73]:
pf["x"]

a    2.706850
b   -0.319318
c    0.528813
d    0.955057
e    0.302665
Name: x, dtype: float64

In [74]:
type(pf["x"])

pandas.core.series.Series

In [75]:
pf[0:]                              #indexing

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [76]:
pf[3:]

          x         y         z        xy        ty
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [77]:
pf[['x','y']]

          x         y
a  2.706850  0.628133
b -0.319318 -0.848077
c  0.528813 -0.589001
d  0.955057  0.190794
e  0.302665  1.693723

### inserting a new column

In [78]:
pf['new']=pf['x']+pf['y']          #new column inserted

In [79]:
pf                                 #addition of tw0 column(x+y)

          x         y         z        xy        ty       new
a  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983
b -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187
d  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388

In [80]:
pf['run']=pf['z']+pf['ty']

In [81]:
pf

          x         y         z        xy        ty       new       run
a  2.706850  0.628133  0.907969  0.503826  0.651118  3.334983  1.559087
b -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.167395  1.346087
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.060187 -0.744542
d  0.955057  0.190794  1.978757  2.605967  0.683509  1.145851  2.662266
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841  1.996388 -1.840927

In [82]:
pf.drop('new',axis=1,inplace=True)    #competely removes the new colounm

In [83]:
pf.drop('run',axis=1,inplace=True)

In [84]:
pf

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [85]:
pf.shape

(5, 5)

### label base location rows

In [86]:
pf.loc['c']

x     0.528813
y    -0.589001
z     0.188695
xy   -0.758872
ty   -0.933237
Name: c, dtype: float64

### index location of row

In [87]:
pf.iloc[2]

x     0.528813
y    -0.589001
z     0.188695
xy   -0.758872
ty   -0.933237
Name: c, dtype: float64

In [88]:
pf.loc[['a','b'],['z','y']]   # subsets in the data

          z         y
a  0.907969  0.628133
b  0.605965 -0.848077

In [89]:
pf.loc['d','xy']                #index

2.60596727979128

In [90]:
pf

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

conditional selection for the dataframe its give the returns the boolen function

In [91]:
pf>0              #greater than 0 its returns the true and less than false

       x      y      z     xy     ty
a   True   True   True   True   True
b  False  False   True  False   True
c   True  False   True  False  False
d   True   True   True   True   True
e   True   True  False  False  False

In [92]:
a=pf.loc[['a','b','c']]>1

In [93]:
a

       x      y      z     xy     ty
a   True  False  False  False  False
b  False  False  False  False  False
c  False  False  False  False  False

In [94]:
pf[a]

         x   y   z  xy  ty
a  2.70685 NaN NaN NaN NaN
b      NaN NaN NaN NaN NaN
c      NaN NaN NaN NaN NaN
d      NaN NaN NaN NaN NaN
e      NaN NaN NaN NaN NaN

In [95]:
pf

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [96]:
pf>0

       x      y      z     xy     ty
a   True   True   True   True   True
b  False  False   True  False   True
c   True  False   True  False  False
d   True   True   True   True   True
e   True   True  False  False  False

In [97]:
boolen=pf>0

In [98]:
pf[boolen]

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b       NaN       NaN  0.605965       NaN  0.740122
c  0.528813       NaN  0.188695       NaN       NaN
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723       NaN       NaN       NaN

In [99]:
pf[pf>1]

         x         y         z        xy  ty
a  2.70685       NaN       NaN       NaN NaN
b      NaN       NaN       NaN       NaN NaN
c      NaN       NaN       NaN       NaN NaN
d      NaN       NaN  1.978757  2.605967 NaN
e      NaN  1.693723       NaN       NaN NaN

In [100]:
pf.x>0

a     True
b    False
c     True
d     True
e     True
Name: x, dtype: bool

In [101]:
pf['x']

a    2.706850
b   -0.319318
c    0.528813
d    0.955057
e    0.302665
Name: x, dtype: float64

In [102]:
pf[boolen]

          x         y         z        xy        ty
a  2.706850  0.628133  0.907969  0.503826  0.651118
b       NaN       NaN  0.605965       NaN  0.740122
c  0.528813       NaN  0.188695       NaN       NaN
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723       NaN       NaN       NaN

fillna method

In [103]:
pf['z'].fillna(0)

a    0.907969
b    0.605965
c    0.188695
d    1.978757
e   -1.706086
Name: z, dtype: float64

### groupby

In [104]:
new_data={'company':['google','google','mrsf','mrsf','amz'],
           'persons':['a','b','c','d','e'],
          "sales":[200,150,140,120,500]}

In [105]:
s=pd.DataFrame(new_data)

In [106]:
s

  company persons  sales
0  google       a    200
1  google       b    150
2    mrsf       c    140
3    mrsf       d    120
4     amz       e    500

In [107]:
a=s.groupby("company")

In [108]:
a.sum()

        persons  sales
company
amz           e    500
google       ab    350
mrsf         cd    260

In [109]:
a["sales"].sum().loc['amz']

500

In [110]:
a.describe().transpose()["amz"]

sales  count      1.0
       mean     500.0
       std        NaN
       min      500.0
       25%      500.0
       50%      500.0
       75%      500.0
       max      500.0
Name: amz, dtype: float64

In [111]:
a["sales"].std()

company
amz             NaN
google    35.355339
mrsf      14.142136
Name: sales, dtype: float64

In [112]:
a.count()

         persons  sales
company
amz            1      1
google         2      2
mrsf           2      2

In [113]:
a["sales"].max()

company
amz       500
google    200
mrsf      140
Name: sales, dtype: int64

In [114]:
a["sales"].min()

company
amz       500
google    150
mrsf      120
Name: sales, dtype: int64

In [115]:
s["company"].head(0)

Series([], Name: company, dtype: object)

In [116]:
s["persons"].head(2)

0    a
1    b
Name: persons, dtype: object

In [117]:
s["company"].tail(2)

3    mrsf
4     amz
Name: company, dtype: object

In [118]:
s["company"].unique()

array(['google', 'mrsf', 'amz'], dtype=object)

In [119]:
s["company"].nunique()

3

new dataframe

In [120]:
from numpy.random import randn

In [121]:
np.random.seed(101)

In [122]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','Zz'])

In [123]:
df

          X         Y         Z        Zz
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [124]:
df>0

       X      Y      Z     Zz
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [125]:
df[df>0]

          X         Y         Z        Zz
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [126]:
[df['X']>0]

[A     True
 B     True
 C    False
 D     True
 E     True
 Name: X, dtype: bool]

In [127]:
df["X"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: X, dtype: float64

In [128]:
df[df['X']>0][['Y','Z']]

          Y         Z
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [129]:
df[(df['Y']>0) & (df['Z']>1)]

          X         Y         Z        Zz
E  0.190794  1.978757  2.605967  0.683509

In [130]:
df

          X         Y         Z        Zz
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [131]:
df[(df["X"]>1) | (df["Z"])]

          X         Y         Z        Zz
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Reset a index into column

In [132]:
df.reset_index()

  index         X         Y         Z        Zz
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [133]:
df

          X         Y         Z        Zz
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [134]:
new="Q W E R T".split()

In [135]:
df["label"]=new

In [136]:
df

          X         Y         Z        Zz label
A  2.706850  0.628133  0.907969  0.503826     Q
B  0.651118 -0.319318 -0.848077  0.605965     W
C -2.018168  0.740122  0.528813 -0.589001     E
D  0.188695 -0.758872 -0.933237  0.955057     R
E  0.190794  1.978757  2.605967  0.683509     T

In [137]:
df.set_index("label")

              X         Y         Z        Zz
label
Q      2.706850  0.628133  0.907969  0.503826
W      0.651118 -0.319318 -0.848077  0.605965
E     -2.018168  0.740122  0.528813 -0.589001
R      0.188695 -0.758872 -0.933237  0.955057
T      0.190794  1.978757  2.605967  0.683509

In [138]:
df

          X         Y         Z        Zz label
A  2.706850  0.628133  0.907969  0.503826     Q
B  0.651118 -0.319318 -0.848077  0.605965     W
C -2.018168  0.740122  0.528813 -0.589001     E
D  0.188695 -0.758872 -0.933237  0.955057     R
E  0.190794  1.978757  2.605967  0.683509     T

missing data

In [139]:
d={"a":[1,2,np.nan],'b':[4,np.nan,np.nan],'c':[1,5,6]}

In [140]:
df=pd.DataFrame(d)

In [141]:
df

     a    b  c
0  1.0  4.0  1
1  2.0  NaN  5
2  NaN  NaN  6

In [142]:
df.dropna()

     a    b  c
0  1.0  4.0  1

In [143]:
df.dropna(axis=0,thresh=2)

     a    b  c
0  1.0  4.0  1
1  2.0  NaN  5

In [144]:
df.fillna("aa")

     a    b  c
0  1.0  4.0  1
1  2.0   aa  5
2   aa   aa  6

In [145]:
df["a"].mean()

1.5

In [146]:
df

     a    b  c
0  1.0  4.0  1
1  2.0  NaN  5
2  NaN  NaN  6

In [147]:
df["c"].mean()

4.0

In [148]:
df["c"].sum()

12

In [149]:
import pandas as pd

In [150]:
x={'col1':[1,2,3,4],
  'col2':[444,555,666,777],
  'col3':['abc','def','ghi','jkl']}

In [151]:
x=pd.DataFrame(x)
x.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  jkl

In [152]:
x

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  jkl

In [153]:
x['col1'].unique()

array([1, 2, 3, 4], dtype=int64)

In [154]:
x["col2"].nunique()

4

In [155]:
x['col2'].sum()

2442

In [156]:
x['col2']>500

0    False
1     True
2     True
3     True
Name: col2, dtype: bool

In [157]:
def times1(y):
    returns(y*2)

In [158]:
x['col2']

0    444
1    555
2    666
3    777
Name: col2, dtype: int64

In [159]:
x['col1'].apply(lambda y: y*2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [160]:
x.drop('col1',axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   777  jkl

In [161]:
x

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  jkl

In [162]:
x.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [163]:
x.index

RangeIndex(start=0, stop=4, step=1)

In [164]:
x.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [165]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rahul\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\rahul\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [166]:
import pandas as pd

In [170]:
d = pd.read_csv(R"C:\\Users\\RAHUL\\Desktop\\kaggledata\\kaggledata.csv")
pf = pd.DataFrame(d)
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [172]:
pf.head()

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN

In [173]:
pf.tail()

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [174]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [175]:
pf.describe()

,fips,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsAge
count,50.000000,50.000000,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,50.000000,50.000000,50.000000,21.000000
mean,29.320000,207.851854,6.702435e+06,6.677375e+06,6.616813e+06,6.571419e+06,6.162876e+06,0.003617,25059.820000,0.086400,18.380952
std,15.782243,274.039076,7.513352e+06,7.481574e+06,7.435967e+06,7.375948e+06,6.848235e+06,0.007205,100173.637575,0.078485,0.920662
min,1.000000,1.283440,5.851770e+05,5.832790e+05,5.776050e+05,5.762071e+05,5.636260e+05,-0.009250,-180341.000000,-0.053200,18.000000
25%,17.250000,48.305813,1.984614e+06,1.972657e+06,1.877562e+06,1.853033e+06,1.833004e+06,-0.001038,-5544.250000,0.033267,18.000000
50%,29.500000,106.900815,4.520140e+06,4.535708e+06,4.579554e+06,4.565236e+06,4.436370e+06,0.001905,5717.000000,0.061930,18.000000
75%,41.750000,222.662175,7.793860e+06,7.736500e+06,7.588009e+06,7.493349e+06,6.680312e+06,0.009100,27994.750000,0.151945,18.000000
max,56.000000,1257.706690,3.880204e+07,3.891569e+07,3.950165e+07,3.927688e+07,3.725396e+07,0.018390,470708.000000,0.281250,21.000000

In [177]:
pf.shape

(50, 20)

In [179]:
pf[10:40:5]

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...

In [180]:
pf['state']

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: state, dtype: object

In [187]:
pf[['state','growth','densityMi']].head(10)

         state  growth  densityMi
0      Alabama   24450  101.15897
1       Alaska    -599    1.28344
2      Arizona   94320   66.44574
3     Arkansas   17515   59.20375
4   California -113649  249.08392
5     Colorado   28629   56.89956
6  Connecticut    2850  750.08364
7     Delaware   13589  536.46691
8      Florida  416754  430.36515
9      Georgia  124847  194.08777

In [197]:
pf[['state','densityMi','growth']][1:40:2]

             state   densityMi  growth
1           Alaska     1.28344    -599
3         Arkansas    59.20375   17515
5         Colorado    56.89956   28629
7         Delaware   536.46691   13589
9          Georgia   194.08777  124847
11           Idaho    24.30298   34719
13         Indiana   191.81731   19505
15          Kansas    35.90560    -772
17       Louisiana   104.53956  -36857
19        Maryland   633.02359   -9950
21        Michigan   177.35246   -3391
23     Mississippi    62.25090   -9529
25         Montana     7.94352   16640
27          Nevada    29.51797   31370
29      New Jersey  1257.70669   -6262
31        New York   409.88985 -180341
33    North Dakota    11.33194    1327
35        Oklahoma    59.43509   28575
37    Pennsylvania   288.13236  -40051
39  South Carolina   181.67626   89368

In [201]:
for rec in pf.iterrows():
    print(rec)

(0, fips                                                                                  1
state                                                                           Alabama
densityMi                                                                     101.15897
pop2024                                                                         5123196
pop2023                                                                         5098746
pop2020                                                                         5031362
pop2019                                                                       5006199.4
pop2010                                                                         4779736
growthRate                                                                       0.0048
growth                                                                            24450
growthSince2010                                                                 0.07186
CPARequirementsCreditsToSitForExam                                                  150
CPARequirementsCreditsForLicense                                                    150
CPARequirementsAge                                                                 19.0
CPARequirementsCitizenship                                                          Yes
CPARequirementsResidency                                                             No
CPARequirementsSocialSecurity                                                       Yes
CPARequirementsExperience                                                           Yes
CPARequirementsEthicsExam                                                           Yes
CPARequirementsAdditionalDetails      Two-tiered states. CPA certificate is issued w...
Name: 0, dtype: object)
(1, fips                                                                                  2
state                                                                            Alaska
densityMi                                                                       1.28344
pop2024                                                                          732385
pop2023                                                                          732984
pop2020                                                                          732923
pop2019                                                                        730653.8
pop2010                                                                          710231
growthRate                                                                     -0.00082
growth                                                                             -599
growthSince2010                                                                 0.03119
CPARequirementsCreditsToSitForExam    120 (BA) or within 18 sem. hours of completing BA
CPARequirementsCreditsForLicense                                                    150
CPARequirementsAge                                                                 19.0
CPARequirementsCitizenship                                                           No
CPARequirementsResidency                                                             No
CPARequirementsSocialSecurity                                                       Yes
CPARequirementsExperience                                                           Yes
CPARequirementsEthicsExam                                                           Yes
CPARequirementsAdditionalDetails                                                    NaN
Name: 1, dtype: object)
(2, fips                                          4
state                                   Arizona
densityMi                              66.44574
pop2024                                 7547837
pop2023                                 7453517
pop2020                                 7179943
pop2019                               7101150.4
pop2010                                 6392017
growthRate                              0.01265
growth                                    94320
growthSince2010                         0.18082
CPARequirementsCreditsToSitForExam     120 (BA)
CPARequirementsCreditsForLicense            150
CPARequirementsAge                         18.0
CPARequirementsCitizenship                   No
CPARequirementsResidency                     No
CPARequirementsSocialSecurity               Yes
CPARequirementsExperience                   Yes
CPARequirementsEthicsExam                   Yes
CPARequirementsAdditionalDetails            NaN
Name: 2, dtype: object)
(3, fips                                          5
state                                  Arkansas
densityMi                              59.20375
pop2024                                 3080667
pop2023                                 3063152
pop2020                                 3014195
pop2019                               3004367.3
pop2010                                 2915918
growthRate                              0.00572
growth                                    17515
growthSince2010                          0.0565
CPARequirementsCreditsToSitForExam          150
CPARequirementsCreditsForLicense            150
CPARequirementsAge                          NaN
CPARequirementsCitizenship                   No
CPARequirementsResidency                     No
CPARequirementsSocialSecurity               Yes
CPARequirementsExperience                   Yes
CPARequirementsEthicsExam                    No
CPARequirementsAdditionalDetails            NaN
Name: 3, dtype: object)
(4, fips                                           6
state                                 California
densityMi                              249.08392
pop2024                                 38802044
pop2023                                 38915693
pop2020                                 39501653
pop2019                               39276883.3
pop2010                                 37253956
growthRate                              -0.00292
growth                                   -113649
growthSince2010                          0.04155
CPARequirementsCreditsToSitForExam      120 (BA)
CPARequirementsCreditsForLicense             150
CPARequirementsAge                           NaN
CPARequirementsCitizenship                    No
CPARequirementsResidency                      No
CPARequirementsSocialSecurity                Yes
CPARequirementsExperience                    Yes
CPARequirementsEthicsExam                    Yes
CPARequirementsAdditionalDetails             NaN
Name: 4, dtype: object)
(5, fips                                          8
state                                  Colorado
densityMi                              56.89956
pop2024                                 5897184
pop2023                                 5868555
pop2020                                 5784865
pop2019                               5709298.1
pop2010                                 5029196
growthRate                              0.00488
growth                                    28629
growthSince2010                         0.17259
CPARequirementsCreditsToSitForExam     120 (BA)
CPARequirementsCreditsForLicense           120A
CPARequirementsAge                          NaN
CPARequirementsCitizenship                   No
CPARequirementsResidency                     No
CPARequirementsSocialSecurity               Yes
CPARequirementsExperience                   Yes
CPARequirementsEthicsExam                   Yes
CPARequirementsAdditionalDetails            NaN
Name: 5, dtype: object)
(6, fips                                            9
state                                 Connecticut
densityMi                               750.08364
pop2024                                   3631905
pop2023                                   3629055
pop2020                                   3597362
pop2019                                 3595035.5
pop2010                                   3574097
growthRate                                0.00079
growth                                       2850
growthSince2010                           0.01617
CPARequirementsCreditsToSitForExam       120 (BA)
CPARequirementsCreditsForLicense              150
CPARequirementsAge                            NaN
CPARequirementsCitizenship                     No
CPARequirementsResidency                       No
CPARequirementsSocialSecurity                 Yes
CPARequirementsExperience                     Yes
CPARequirementsEthicsExam                     Yes
CPARequirementsAdditionalDetails              NaN
Name: 6, dtype: object)
(7, fips                                         10
state                                  Delaware
densityMi                             536.46691
pop2024                                 1045574
pop2023                                 1031985
pop2020                                  992114
pop2019                                982696.0
pop2010                                  897934
growthRate                              0.01317
growth                                    13589
growthSince2010                         0.16442
CPARequirementsCreditsToSitForExam     120 (BA)
CPARequirementsCreditsForLicense            150
CPARequirementsAge                          NaN
CPARequirementsCitizenship                   No
CPARequirementsResidency                     No
CPARequirementsSocialSecurity               Yes
CPARequirementsExperience                   Yes
CPARequirementsEthicsExam                   Yes
CPARequirementsAdditionalDetails            NaN
Name: 7, dtype: object)
(8, fips                                          12
state                                    Florida
densityMi                              430.36515
pop2024                                 23078331
pop2023                                 22661577
pop2020                                 21589602
pop2019                               21310772.8
pop2010                                 18801310
growthRate                               0.01839
growth                                    416754
growthSince2010                          0.22749
CPARequirementsCreditsToSitForExam      120 (BA)
CPARequirementsCreditsForLicense             150
CPARequirementsAge                           NaN
CPARequirementsCitizenship                    No
CPARequirementsResidency                      No
CPARequirementsSocialSecurity                Yes
CPARequirementsExperience                    Yes
CPARequirementsEthicsExam                     No
CPARequirementsAdditionalDetails             NaN
Name: 8, dtype: object)
(9, fips                                          13
state                                    Georgia
densityMi                              194.08777
pop2024                                 11162570
pop2023                                 11037723
pop2020                                 10729828
pop2019                               10625610.5
pop2010                                  9687653
growthRate                               0.01131
growth                                    124847
growthSince2010                          0.15225
CPARequirementsCreditsToSitForExam      120 (BA)
CPARequirementsCreditsForLicense             150
CPARequirementsAge                          18.0
CPARequirementsCitizenship                    No
CPARequirementsResidency                      No
CPARequirementsSocialSecurity                Yes
CPARequirementsExperience                    Yes
CPARequirementsEthicsExam                     No
CPARequirementsAdditionalDetails             NaN
Name: 9, dtype: object)
(10, fips                                                                                 15
state                                                                            Hawaii
densityMi                                                                     222.05823
pop2024                                                                         1426280
pop2023                                                                         1433238
pop2020                                                                         1451043
pop2019                                                                       1441968.8
pop2010                                                                         1360301
growthRate                                                                     -0.00485
growth                                                                            -6958
growthSince2010                                                                  0.0485
CPARequirementsCreditsToSitForExam         120 (BA) or within 120 days of completing BA
CPARequirementsCreditsForLicense                                                    150
CPARequirementsAge                                                                 18.0
CPARequirementsCitizenship                                                          Yes
CPARequirementsResidency                                                             No
CPARequirementsSocialSecurity                                                       Yes
CPARequirementsExperience                                                           Yes
CPARequirementsEthicsExam                                                            No
CPARequirementsAdditionalDetails      Two-tiered states. CPA certificate is issued w...
Name: 10, dtype: object)
(11, fips                                         16
state                                     Idaho
densityMi                              24.30298
pop2024                                 2008471
pop2023                                 1973752
pop2020                                 1849202
pop2019                               1821040.0
pop2010                                 1567582
growthRate                              0.01759
growth                                    34719
growthSince2010                         0.28125
CPARequirementsCreditsToSitForExam     120 (BA)
CPARequirementsCreditsForLicense            150
CPARequirementsAge                         18.0
CPARequirementsCitizenship                   No
CPARequirementsResidency                    Yes
CPARequirementsSocialSecurity               Yes
CPARequirementsExperience                   Yes
CPARequirementsEthicsExam                   Yes
CPARequirementsAdditionalDetails            NaN
Name: 11, dtype: object)
(12, fips                                          17
state                                   Illinois
densityMi                              222.86349
pop2024                                 12373158
pop2023                                 12477595
pop2020                                 12786580
pop2019                               12790985.2
pop2010                                 12830632
growthRate                              -0.00837
growth                                   -104437
growthSince2010                         -0.03565
CPARequirementsCreditsToSitForExam           150
CPARequirementsCreditsForLicense             150
CPARequirementsAge                          18.0
CPARequirementsCitizenship                    No
CPARequirementsResidency                      No
CPARequirementsSocialSecurity                 No
CPARequirementsExperience                    Yes
CPARequirementsEthicsExam                    Yes
CPARequirementsAdditionalDetails             NaN
Name: 12, dtype: object)
(13, fips                                                                                 18
state                                                                           Indiana
densityMi                                                                     191.81731
pop2024                                                                         6872047
pop2023                                                                         6852542
pop2020                                                                         6788799
pop2019                                                                       6758299.3
pop2010                                                                         6483802
growthRate                                                                      0.00285
growth                                                                            19505
growthSince2010                                                                 0.05988
CPARequirementsCreditsToSitForExam                      varies (see Additional Details)
CPARequirementsCreditsForLicense                                                    150
CPARequirementsAge                                                                 18.0
CPARequirementsCitizenship                                                           No
CPARequirementsResidency                                                             No
CPARequirementsSocialSecurity                                                       Yes
CPARequirementsExperience                                                           Yes
CPARequirementsEthicsExam                                                            No
CPARequirementsAdditionalDetails      Required credits to sit for exam are either 24...
Name: 13, dtype: object)
(14, fips                                                                            19
state                                                                         Iowa
densityMi                                                                 57.39966
pop2024                                                                    3206173
pop2023                                                                    3203345
pop2020                                                                    3190571
pop2019                                                                  3176149.4
pop2010                                                                    3046355
growthRate                                                                 0.00088
growth                                                                        2828
growthSince2010                                                            0.05246
CPARequirementsCreditsToSitForExam    120 (BA) or within 120 days of completing BA
CPARequirementsCreditsForLicense                                               150
CPARequirementsAge                                                             NaN
CPARequirementsCitizenship                                                      No
CPARequirementsResidency                                                        No
CPARequirementsSocialSecurity                                                  Yes
CPARequirementsExperience                                                      Yes
CPARequirementsEthicsExam                                                      Yes
CPARequirementsAdditionalDetails                                               NaN
Name: 14, dtype: object)
(15, fips                                                                                 20
state                                                                            Kansas
densityMi                                                                       35.9056
pop2024                                                                         2935606
pop2023                                                                         2936378
pop2020                                                                         2937919
pop2019                                                                       2929438.9
pop2010                                                                         2853118
growthRate                                                                     -0.00026
growth                                                                             -772
growthSince2010                                                                 0.02891
CPARequirementsCreditsToSitForExam                                                  150
CPARequirementsCreditsForLicense                                                    150

In [208]:
pf.loc[3]    #its represent rows

fips                                          5
state                                  Arkansas
densityMi                              59.20375
pop2024                                 3080667
pop2023                                 3063152
pop2020                                 3014195
pop2019                               3004367.3
pop2010                                 2915918
growthRate                              0.00572
growth                                    17515
growthSince2010                          0.0565
CPARequirementsCreditsToSitForExam          150
CPARequirementsCreditsForLicense            150
CPARequirementsAge                          NaN
CPARequirementsCitizenship                   No
CPARequirementsResidency                     No
CPARequirementsSocialSecurity               Yes
CPARequirementsExperience                   Yes
CPARequirementsEthicsExam                    No
CPARequirementsAdditionalDetails            NaN
Name: 3, dtype: object

In [212]:
pf.loc[10,["state","growth",'growthRate']] #its row number and column name

state          Hawaii
growth          -6958
growthRate   -0.00485
Name: 10, dtype: object

In [213]:
pf.loc[1:10]

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...

In [226]:
pf.loc[1:10,"state"]

1          Alaska
2         Arizona
3        Arkansas
4      California
5        Colorado
6     Connecticut
7        Delaware
8         Florida
9         Georgia
10         Hawaii
Name: state, dtype: object

In [227]:
pf.loc[1:5,["state","growth"]]

        state  growth
1      Alaska    -599
2     Arizona   94320
3    Arkansas   17515
4  California -113649
5    Colorado   28629

In [228]:
pf.loc[1:10,"state":"growth"]    # range includes for colunm also

,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth
1,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599
2,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320
3,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515
4,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649
5,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629
6,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850
7,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589
8,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754
9,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847
10,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958

### iloc

In [233]:
pf.iloc[10,7]

1360301

In [234]:
pf.iloc[1:5,1:7]

        state  densityMi   pop2024   pop2023   pop2020     pop2019
1      Alaska    1.28344    732385    732984    732923    730653.8
2     Arizona   66.44574   7547837   7453517   7179943   7101150.4
3    Arkansas   59.20375   3080667   3063152   3014195   3004367.3
4  California  249.08392  38802044  38915693  39501653  39276883.3

In [235]:
pf.iloc[1:5,7]  #selecting a column for range

1      710231
2     6392017
3     2915918
4    37253956
Name: pop2010, dtype: int64

In [237]:
pf.iloc[[10,20,30]]   #random rows are given as input

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN

In [240]:
pf.iloc[:,[1,2,7]]

             state   densityMi   pop2010
0          Alabama   101.15897   4779736
1           Alaska     1.28344    710231
2          Arizona    66.44574   6392017
3         Arkansas    59.20375   2915918
4       California   249.08392  37253956
5         Colorado    56.89956   5029196
6      Connecticut   750.08364   3574097
7         Delaware   536.46691    897934
8          Florida   430.36515  18801310
9          Georgia   194.08777   9687653
10          Hawaii   222.05823   1360301
11           Idaho    24.30298   1567582
12        Illinois   222.86349  12830632
13         Indiana   191.81731   6483802
14            Iowa    57.39966   3046355
15          Kansas    35.90560   2853118
16        Kentucky   114.56597   4339367
17       Louisiana   104.53956   4533372
18           Maine    45.44123   1328361
19        Maryland   633.02359   5773552
20   Massachusetts   893.14641   6547629
21        Michigan   177.35246   9883640
22       Minnesota    71.94306   5303925
23     Mississippi    62.25090   2967297
24        Missouri    90.10830   5988927
25         Montana     7.94352    989415
26        Nebraska    25.72973   1826341
27          Nevada    29.51797   2700551
28   New Hampshire   157.56540   1316470
29      New Jersey  1257.70669   8791894
30      New Mexico    17.36779   2059179
31        New York   409.88985  19378102
32  North Carolina   225.53682   9535483
33    North Dakota    11.33194    672591
34            Ohio   287.30305  11536504
35        Oklahoma    59.43509   3751351
36          Oregon    43.83682   3831074
37    Pennsylvania   288.13236  12702379
38    Rhode Island  1051.48162   1052567
39  South Carolina   181.67626   4625364
40    South Dakota    12.36158    814180
41       Tennessee   175.02886   6346105
42           Texas   118.55740  25145561
43            Utah    42.15862   2763885
44         Vermont    70.22328    625741
45        Virginia   221.22378   8001024
46      Washington   118.51252   6724540
47   West Virginia    72.98511   1852994
48       Wisconsin   109.26207   5686986
49         Wyoming     6.02697    563626

In [241]:
pf.iloc[1:10,[1,2,7]]

         state  densityMi   pop2010
1       Alaska    1.28344    710231
2      Arizona   66.44574   6392017
3     Arkansas   59.20375   2915918
4   California  249.08392  37253956
5     Colorado   56.89956   5029196
6  Connecticut  750.08364   3574097
7     Delaware  536.46691    897934
8      Florida  430.36515  18801310
9      Georgia  194.08777   9687653

In [243]:
pf.iloc[[1,2,10],[1,3,5]] #ones represent row and another represent colunms

      state  pop2024  pop2020
1    Alaska   732385   732923
2   Arizona  7547837  7179943
10   Hawaii  1426280  1451043

### sort_values

In [244]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [245]:
pf.sort_values("growth")  #ascending order

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN

In [253]:
pf.sort_values("growth",ascending=False)   #growth in decending order

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN

In [256]:
pf.sort_values(["state","pop2024"])

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

### adding new colunm

In [261]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [262]:
pf["pop+1"]=pf['pop2024']+pf["pop2023"]+pf["pop2020"]

In [263]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,...,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails,pop+1
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,...,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,15253304
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,...,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN,2198292
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,22181297
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,...,150,150,NaN,No,No,Yes,Yes,No,NaN,9158014
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,117219390
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,...,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN,17550604
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,10858322
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,3069673
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,...,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN,67329510
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,32930121
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,...,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...,4310561
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,...,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN,5831425
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,...,150,150,18.0,No,No,No,Yes,Yes,NaN,37637333
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,...,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...,20513388
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN,9600089
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,8809903
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,13549228
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,...,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN,13721575
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN,4158543
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,18472675
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,20936529
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,...,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN,30127630
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN,17161359
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,...,150,150,NaN,No,Yes,Yes,Yes,No,NaN,8809668
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,...,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN,18534314
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,...,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...,3382729
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,5911595
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,...,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN,9565302
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,...,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN,4192227
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,27776301
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,6335079
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,...,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN,58921575
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,...,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN,32246655
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,...,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,2342021
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,...,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN,35284781
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,12090237
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,12676577
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,...,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN,38818303
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,...,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN,3274060
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,15965220
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,...,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN,2748427
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,...,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,21277261
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,90703742
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,10170446
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,...,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN,1937297
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,26082471
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,...,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,23430726
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,...,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN,5310622
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,...,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN,17718663
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,...,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN,1746061

In [271]:
pf["pop+1"]="pass/fail"

In [272]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,...,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails,pop+1
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,...,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,...,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN,pass/fail
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,...,150,150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,...,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,...,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,pass/fail
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,...,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...,pass/fail
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,...,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,...,150,150,18.0,No,No,No,Yes,Yes,NaN,pass/fail
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,...,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...,pass/fail
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,pass/fail
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,...,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN,pass/fail
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,pass/fail
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,...,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,...,150,150,NaN,No,Yes,Yes,Yes,No,NaN,pass/fail
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,...,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,...,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,...,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN,pass/fail
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,...,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN,pass/fail
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,...,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN,pass/fail
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,...,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN,pass/fail
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,...,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,...,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,...,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN,pass/fail
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,...,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN,pass/fail
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,...,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN,pass/fail
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,...,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,...,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN,pass/fail
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,...,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,...,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN,pass/fail
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,...,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN,pass/fail
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,...,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail

In [277]:
pf.drop(columns="pop+1")

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [278]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,...,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails,pop+1
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,...,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,...,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN,pass/fail
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,...,150,150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,...,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,...,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,pass/fail
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,...,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...,pass/fail
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,...,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,...,150,150,18.0,No,No,No,Yes,Yes,NaN,pass/fail
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,...,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...,pass/fail
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,pass/fail
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,...,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN,pass/fail
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,...,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN,pass/fail
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,...,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN,pass/fail
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,...,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,...,150,150,NaN,No,Yes,Yes,Yes,No,NaN,pass/fail
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,...,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,...,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,...,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN,pass/fail
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,...,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN,pass/fail
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,...,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN,pass/fail
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,...,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN,pass/fail
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,...,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,...,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,...,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...,pass/fail
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,...,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN,pass/fail
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,...,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN,pass/fail
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,...,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN,pass/fail
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,...,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN,pass/fail
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,...,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,...,150,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,...,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN,pass/fail
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,...,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,...,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN,pass/fail
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,...,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN,pass/fail
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,...,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN,pass/fail
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,...,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN,pass/fail

In [281]:
pf.drop(columns="pop+1",inplace=True)

In [282]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

### removing the duplicates

In [284]:
pf.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [286]:
# ti remove the duplicates we use 
#          drop_duplicates() its use for tempory
#           drop_duplicates(inplace=True) its delets permenent

### handling missing data

In [287]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [290]:
pf.fillna(20)

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,20
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,20
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,20.0,No,No,Yes,Yes,No,20
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,20.0,No,No,Yes,Yes,Yes,20
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,20.0,No,No,Yes,Yes,Yes,20
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,20.0,No,No,Yes,Yes,Yes,20
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,20.0,No,No,Yes,Yes,Yes,20
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,20.0,No,No,Yes,Yes,No,20
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,20
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,20
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,20
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,20.0,No,No,Yes,Yes,Yes,20
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,20.0,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,20
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,20.0,Yes,Yes,Yes,Yes,No,20
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,20.0,No,No,Yes,Yes,No,20
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,20
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,20
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,20.0,No,No,Yes,Yes,No,20
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,20.0,No,No,Yes,Yes,Yes,20
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,20.0,No,Yes,Yes,Yes,No,20
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,20
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,20.0,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,20.0,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,20.0,No,Yes,Yes,Yes,Yes,20
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,20.0,No,No,Yes,Yes,No,20
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,20
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,20.0,No,No,Yes,Yes,Yes,20
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,20
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,20
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,20.0,No,No,Yes,Yes,Yes,20
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,20
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,20.0,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,20.0,No,No,Yes,Yes,Yes,20
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,20
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,20.0,No,Yes,Yes,Yes,Yes,20
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,20
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,20.0,No,No,No,Yes,Yes,20
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,20.0,No,No,Yes,Yes,Yes,20
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,20.0,No,No,Yes,Yes,Yes,20
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,20.0,No,No,Yes,Yes,Yes,20
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,20.0,No,No,Yes,Yes,20,20
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,20.0,No,No,Yes,Yes,Yes,20
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,20.0,No,No,Yes,Yes,Yes,20
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,20
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,20
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,20

In [291]:
pf.dropna()

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...

In [ ]:
# delete the date permenently 
# dropna(inplace=True)

### conditions

In [292]:
pf

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
0,1,Alabama,101.15897,5123196,5098746,5031362,5006199.4,4779736,0.00480,24450,0.07186,150,150,19.0,Yes,No,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
1,2,Alaska,1.28344,732385,732984,732923,730653.8,710231,-0.00082,-599,0.03119,120 (BA) or within 18 sem. hours of completing BA,150,19.0,No,No,Yes,Yes,Yes,NaN
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN
4,6,California,249.08392,38802044,38915693,39501653,39276883.3,37253956,-0.00292,-113649,0.04155,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
5,8,Colorado,56.89956,5897184,5868555,5784865,5709298.1,5029196,0.00488,28629,0.17259,120 (BA),120A,NaN,No,No,Yes,Yes,Yes,NaN
6,9,Connecticut,750.08364,3631905,3629055,3597362,3595035.5,3574097,0.00079,2850,0.01617,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
8,12,Florida,430.36515,23078331,22661577,21589602,21310772.8,18801310,0.01839,416754,0.22749,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
9,13,Georgia,194.08777,11162570,11037723,10729828,10625610.5,9687653,0.01131,124847,0.15225,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
10,15,Hawaii,222.05823,1426280,1433238,1451043,1441968.8,1360301,-0.00485,-6958,0.04850,120 (BA) or within 120 days of completing BA,150,18.0,Yes,No,Yes,Yes,No,Two-tiered states. CPA certificate is issued w...
11,16,Idaho,24.30298,2008471,1973752,1849202,1821040.0,1567582,0.01759,34719,0.28125,120 (BA),150,18.0,No,Yes,Yes,Yes,Yes,NaN
12,17,Illinois,222.86349,12373158,12477595,12786580,12790985.2,12830632,-0.00837,-104437,-0.03565,150,150,18.0,No,No,No,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
14,19,Iowa,57.39966,3206173,3203345,3190571,3176149.4,3046355,0.00088,2828,0.05246,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
15,20,Kansas,35.90560,2935606,2936378,2937919,2929438.9,2853118,-0.00026,-772,0.02891,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
16,21,Kentucky,114.56597,4523752,4518031,4507445,4490637.2,4339367,0.00127,5721,0.04249,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
18,23,Maine,45.44123,1401544,1393442,1363557,1360037.4,1328361,0.00581,8102,0.05509,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,No,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
20,25,Massachusetts,893.14641,6966542,6974258,6995729,6950919.0,6547629,-0.00111,-7716,0.06398,120 (BA),150,18.0,No,No,Yes,Yes,No,NaN
21,26,Michigan,177.35246,10027331,10030722,10069577,10050983.3,9883640,-0.00034,-3391,0.01454,120 (BA),150,NaN,No,No,Yes,Yes,No,NaN
22,27,Minnesota,71.94306,5728610,5722897,5709852,5669259.3,5303925,0.00100,5713,0.08007,120 (BA) or within 120 days of completing BA,150,NaN,No,No,Yes,Yes,Yes,NaN
23,28,Mississippi,62.25090,2920999,2930528,2958141,2959056.6,2967297,-0.00325,-9529,-0.01560,150,150,NaN,No,Yes,Yes,Yes,No,NaN
24,29,Missouri,90.10830,6194225,6186091,6153998,6137490.9,5988927,0.00131,8134,0.03428,Within 60 days of CER,150,21.0,No,Yes,Yes,Yes,Yes,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
26,31,Nebraska,25.72973,1976661,1972292,1962642,1949011.9,1826341,0.00222,4369,0.08231,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
27,32,Nevada,29.51797,3240512,3209142,3115648,3074138.3,2700551,0.00978,31370,0.19994,150,150,NaN,No,Yes,Yes,Yes,Yes,NaN
28,33,New Hampshire,157.56540,1410683,1402957,1378587,1372375.3,1316470,0.00551,7726,0.07156,120 (BA),120B,NaN,No,No,Yes,Yes,No,NaN
29,34,New Jersey,1257.70669,9249175,9255437,9271689,9223709.5,8791894,-0.00068,-6262,0.05201,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
30,35,New Mexico,17.36779,2106678,2110011,2118390,2112468.9,2059179,-0.00158,-3333,0.02307,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
31,36,New York,409.88985,19316469,19496810,20108296,20035276.6,19378102,-0.00925,-180341,-0.00318,120 (BA),150,21.0,No,No,Yes,Yes,No,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
33,38,North Dakota,11.33194,781915,780588,779518,768825.3,672591,0.00170,1327,0.16254,Within 6 months of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
34,39,Ohio,287.30305,11739490,11747774,11797517,11771415.7,11536504,-0.00071,-8284,0.01760,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN
35,40,Oklahoma,59.43509,4076950,4048375,3964912,3943555.9,3751351,0.00706,28575,0.08680,150,150,NaN,No,Yes,Yes,Yes,Yes,Two-tiered states. CPA certificate is issued w...
36,41,Oregon,43.83682,4207809,4223973,4244795,4203422.9,3831074,-0.00383,-16164,0.09834,150,150,NaN,No,No,Yes,Yes,Yes,NaN
37,42,Pennsylvania,288.13236,12891906,12931957,12994440,12965233.9,12702379,-0.00310,-40051,0.01492,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
38,44,Rhode Island,1051.48162,1087232,1090483,1096345,1091967.2,1052567,-0.00298,-3251,0.03293,120 (BA),150,NaN,No,Yes,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
40,46,South Dakota,12.36158,937144,923484,887799,880437.1,814180,0.01479,13660,0.15103,Within 100 days of CER,150,NaN,No,No,No,Yes,Yes,NaN
41,47,Tennessee,175.02886,7217315,7134327,6925619,6867667.6,6346105,0.01163,82988,0.13728,Within 200 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
42,48,Texas,118.55740,30970988,30500280,29232474,28823782.7,25145561,0.01543,470708,0.23167,150,150,NaN,No,No,Yes,Yes,Yes,NaN
43,49,Utah,42.15862,3464174,3422487,3283785,3231795.0,2763885,0.01218,41687,0.25337,150,150,NaN,No,No,Yes,Yes,Yes,NaN
44,50,Vermont,70.22328,647248,647156,642893,641177.8,625741,0.00014,92,0.03437,120 (BA) or within 60 days of completing BA,120,NaN,No,No,Yes,Yes,NaN,NaN
45,51,Virginia,221.22378,8736127,8709873,8636471,8572926.3,8001024,0.00301,26254,0.09188,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
46,53,Washington,118.51252,7875868,7830827,7724031,7624081.9,6724540,0.00575,45041,0.17121,Within 180 days of CER,150,NaN,No,No,Yes,Yes,Yes,NaN
47,54,West Virginia,72.98511,1754416,1764786,1791420,1797577.4,1852994,-0.00588,-10370,-0.05320,120 (BA),150,18.0,No,Yes,Yes,Yes,No,NaN
48,55,Wisconsin,109.26207,5917415,5904977,5896271,5875342.5,5686986,0.00211,12438,0.04052,Within 60 days of CER,150,18.0,No,No,No,Yes,Yes,NaN
49,56,Wyoming,6.02697,585177,583279,577605,576207.1,563626,0.00325,1898,0.03824,150,150,18.0,No,Yes,Yes,Yes,Yes,NaN

In [304]:
pf.loc[pf["state"].str.contains("ar")]

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
7,10,Delaware,536.46691,1045574,1031985,992114,982696.0,897934,0.01317,13589,0.16442,120 (BA),150,NaN,No,No,Yes,Yes,Yes,NaN
19,24,Maryland,633.02359,6144760,6154710,6173205,6133239.7,5773552,-0.00162,-9950,0.06429,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN

In [308]:
pf.loc[pf["state"].str.startswith("Ar")]

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
3,5,Arkansas,59.20375,3080667,3063152,3014195,3004367.3,2915918,0.00572,17515,0.05650,150,150,NaN,No,No,Yes,Yes,No,NaN

In [310]:
pf.loc[pf["state"].str.endswith("na")]

,fips,state,densityMi,pop2024,pop2023,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,CPARequirementsCreditsToSitForExam,CPARequirementsCreditsForLicense,CPARequirementsAge,CPARequirementsCitizenship,CPARequirementsResidency,CPARequirementsSocialSecurity,CPARequirementsExperience,CPARequirementsEthicsExam,CPARequirementsAdditionalDetails
2,4,Arizona,66.44574,7547837,7453517,7179943,7101150.4,6392017,0.01265,94320,0.18082,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN
13,18,Indiana,191.81731,6872047,6852542,6788799,6758299.3,6483802,0.00285,19505,0.05988,varies (see Additional Details),150,18.0,No,No,Yes,Yes,No,Required credits to sit for exam are either 24...
17,22,Louisiana,104.53956,4516527,4553384,4651664,4639834.8,4533372,-0.00809,-36857,-0.00372,150,150,NaN,Yes,Yes,Yes,Yes,No,NaN
25,30,Montana,7.94352,1156147,1139507,1087075,1077309.0,989415,0.01460,16640,0.16852,120 (BA),150,NaN,No,No,No,Yes,Yes,Two-tiered states. CPA certificate is issued w...
32,37,North Carolina,225.53682,10965149,10832061,10449445,10358048.8,9535483,0.01229,133088,0.14993,120 (BA),150,18.0,Yes,No,Yes,Yes,Yes,NaN
39,45,South Carolina,181.67626,5461370,5372002,5131848,5081199.6,4625364,0.01664,89368,0.18074,120 (BA),150,18.0,No,No,Yes,Yes,Yes,NaN

In [316]:
pf.to_csv("C:\\Users\\RAHUL\\Desktop\\kaggledata.txts,inplace=True")